.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0.5em 0;
}

button {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #2e7ab9 0%, #993399 100%);
  padding: 12px 32px;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1em 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  display: none;
}

label.upload {
  display: inline-block;
  background-color: #2e7ab9;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

label.upload:hover {
  background-color: #246499;
}

label.upload:active {
  background-color: #2e7ab9;
}

input[type="file"] + label.upload:after {
  content: "Upload MIDI File";
  display: inline-block;
  margin-left: 0.5em;
}

.play {
  background-color: #0a7d33;
}

.stop {
  background-color: #d6330a;
}

.clean {
  background-color: #707070;
}
